/**
 * 1. Colors
 * _________________________________*/

 // Base colors (ordered the greys by lightness from lightest to darkest)
/* Yellows */
$dessert: #D4C08E;
$yellow: #FFF786;
$goldenrod: #FFD286;
$gold: #C79637;
$taupe: #4A4331;
$chocolate: #4E3307;
$chocolate-drk: #241702;
/* Blues */
$powder: #edf2ff;
$periwinkle: #bbbbf4;
$midnight: #020C21;
/* Greens */
$seafoam: #cce9e0;
$melon: #90DD8A;
$forest: #0b5850;
/* Blue/Greens */
$royal: #2915CE;
$teal: #00B9D0;
/* Reds */
$orange: #fa9b28;
$red: red;
$crimson: #C41230;
/* Purples */
$magenta: magenta;
$lavender: #cf9ef5;
$purple: #112770;
$plum: #30023B;
/* Grey */
$white: white;
$ivory: #F4EFE1;
$aluminum: #CFD7DA;
$grey: #BABABA;
$silver: #979797;
$battleship: #666666;
$smoke: #435051;
$ebony: #393A42;
$coal: #0A0B0C;
$black: black;

// Markup Oriented
$text-color: $coal !default;
$text-color--dark: $ivory !default;
$border-color: $coal !default;
$border-color--dark: $black !default;
$selection: $white !default;
$selection-bg: $purple !default;
$primary-color: $lavender;
$secondary-color: $royal;
$tertiary-color: $melon;
$primary-bg-color: lighten($secondary-color, 90%);
$primary-bg-color--dark: $coal;

// Official social colors
$facebook: #3461a1;
$twitter: #28aae1;
$google: #d44a2c;

// Success
$success-color: green;

// Danger
$danger-color: $red;
$danger-background: $crimson;
$danger-border: $red;

// Font Families
$font-family-default: 'Open Sans', sans-serif !default;
$font-family-heading: 'Raleway', sans-serif !default;
$font-family-quote: Georgia, Times, serif !default;

// Font Weights
$text-thin: 100 !default;
$text-light: 200 !default;
$text-book: 300 !default;
$text-med: 400 !default;
$text-semi: 500 !default;
$text-bold: 600 !default;
$text-xbold: 700 !default;
$text-black: 800 !default;
$text-xblack: 900 !default;

/**
 * 2. Units, sections, etc.
 * _________________________________*/
$rem-base: 16 !default;
$site-width: 1280px !default;
$container-width: 1133px !default;

// Aspect Ratios
$ratio_3_2: 66.67%;
$ratio_16_9: 56.25%;
$ratio_4_3: 75%;
$ratio_2_1: 50%;

// Widths
$width-1-1: 100%;
$width-1-2: 50%;
$width-1-3: 33.3333333%;
$width-1-4: 25%;
$width-1-5: 20%;
$width-1-6: 16.6666667%;


/**
 * 3. Screen
 * _________________________________*/

// Media queries
$screen-xxl:  1920px !default;//120em
$screen-xl:  1600px !default;//100em
$screen-lg:  1280px !default;//80em
$screen-md:  992px !default;//62em
$screen-sm:  768px !default;//48em
$screen-xs:  480px !default;//30em
$screen-xxs: 400px !default;//25em

// Media query variables
$screen-xxl-maximum:  $screen-xxl - 1;
$screen-xl-maximum:  $screen-xl - 1;
$screen-lg-maximum:  $screen-lg - 1;
$screen-md-maximum:  $screen-md - 1;
$screen-sm-maximum:  $screen-sm - 1;
$screen-xs-maximum:  $screen-xs - 1;
$screen-xxs-maximum: $screen-xxs - 1;

$screen-sm-min: $screen-sm;
$screen-md-min: $screen-md;
$screen-lg-min: $screen-lg;
$screen-xl-min: $screen-xl;
$screen-xxl-min: $screen-xxl;

// The point at which the navbar becomes uncollapsed
// Choose from any of the "Media query variables"
$screen-nav-mobile: $screen-md-maximum;

//Padding Options
$padding-xsmall: rem-calc(12.5) !default;
$padding-small: rem-calc(25) !default;
$padding-medium: rem-calc(50) !default;
$padding-large: rem-calc(100) !default;
$padding-xlarge: $padding-small + $padding-large;

//Thumbnails
$thumbnail-height: rem-calc(170) !default;

// The point at which the navbar becomes uncollapsed (do not modify)
$grid-float-breakpoint: $screen-nav-mobile + 1;

// Grid
$grid-columns: 12 !default;
$grid-gutter-width: $padding-small !default;
$grid-column-padding: $padding-xsmall !default;

// Container widths
$container-sm: (rem-calc($screen-sm) - $grid-gutter-width);
$container-md: (rem-calc($screen-md) - $grid-gutter-width);
$container-lg: (rem-calc($screen-lg) - $grid-gutter-width);

// Links
$link-color: $primary-color !default;
$link-decoration: none !default;
$link-hover-color: lighten($primary-color, 20%) !default;
$link-hover-decoration: none !default;

//Borders
$border-radius--inner: rem-calc(8);
$border-radius--outer: rem-calc(10);